.cards {
    width: 100%;
}
.image-display1 {
    width: 20%;
    margin-bottom: 50px;
    margin-right: 1%;
    margin-top: 5px;
    box-shadow: 1px 5px 5px #9f9f9f;
    float: left;
}
.image-display2 {
    width: 20%;
    margin-bottom: 50px;
    margin-top: 5px;
    box-shadow: 1px 5px 5px #9f9f9f;
    float: left;
    border-radius: 15px 15px 0 0;
}
img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.image-radius {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.cards-text {
    padding-left: 15px;
    padding-right: 15px;
}